body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    gap: 10px;
}

.video{
    object-fit: scale-down;
    resize: both;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 15px;
}

.calcTime{
    grid-column: 1/3;
}

.displayContainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.timeDisplay{
    font-size: 40px;
    align-self: center;
    margin: 20px;
}

input{
    align-self: flex-end;
}

table{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 90px;
    padding: 0;
}

.button{
    height: 30px;
    border-radius: 8px;
}

@media (max-width:430px){
    .video{
        width: 80vw;
    }
}
    
